@font-face {
  font-family: "fal"; /* Project id 4824437 */
  src: url('../iconfont/iconfont.woff2?t=1739179487476') format('woff2'),
       url('../iconfont/iconfont.woff?t=1739179487476') format('woff'),
       url('../iconfont/iconfont.ttf?t=1739179487476') format('truetype');
}

.fal {
  font-family: "fal" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-up:before {
  content: "\e619";
}

.fa-rise:before {
  content: "\e618";
}

.fa-person:before {
  content: "\e61a";
}

.fa-hobby:before {
  content: "\e617";
}

.fa-contact:before {
  content: "\e61b";
}

